<!doctype html>
<html lang="eu">
    <%- include ../partials/head.ejs %>
    <body>
        <section class='container'>
            <%- include ../partials/goiburua.ejs %>
            <div class="row azalpena">
                <div class="col-md-8">
                    <h1 class="izenburua">Zer da wikidosia?</h1>
                    <p>Wikidosia <a target="_blank" href="http://aldatsa.eus">aldatsa</a>k sortutako txiobot eta Telegram-eko bot euskaldun, zintzo eta librea da.</p>
                    <div>Twitter-en <a href="https://twitter.com/wikidosia" target="_blank">@wikidosia</a> da. Hau da txioen ordutegia:</div>
                    <ul>
                        <li>Euskarazko Wikipediatik ausaz hautatutako artikuluak txiokatzen ditu egunero goizeko 9:00etan.</li>
                        <li>Aurreko eguneko euskarazko Wikipediako artikulurik irakurrienak txiokatzen ditu eguerdiero (12:00). Egun jakin bateko euskarazko Wikipediako artikulurik irakurrienen zerrenda <a href="irakurrienak">hemen</a> ikus dezakezu.</li>
                        <li>Gaueko 21:00etan:
                            <ul>
                                <li>Astelehenetan euskarazko Wikipediako asteko irudia</li>
                                <li>Asteazkenetan euskarazko Wikipediako asteko herria</li>
                                <li>Gainerako egunetan euskarazko Wikipediako artikulu nabarmendu bat</li>
                            </ul>
                        </li>
                    </ul>
                    <div>Telegram-en <a href="https://telegram.me/wikidosiabot" target="_blank">@WikidosiaBot</a> da.</div>
                    <ul>
                        <li>Euskarazko Wikipediako artikulu bat bilatu eta mezu batean bidal dezake. Horretarako lehenik <code>@WikidosiaBot</code> idatzi behar da bot-a deitzeko eta ondoren bilatu nahi den hitza. Euskarazko Wikipedian aurkitutako artikuluak proposatuko dizkizu. Klikatu nahi duzuna mezuan bidaltzeko.</li>
                        <li>Bi komando ezagutzen ditu momentuz, baina ikasiko du gauza gehiago egiten ere.</li>
                        <ul>
                            <li>Ausazko artikulu bat itzultzeko erabili <code>/ausazkoa</code> komandoa.</li>
                            <li>Aurreko eguneko irakurrienen zerrenda eskuratzeko erabili <code>/irakurrienak</code> komandoa</li>
                        </ul>
                    </ul>
                    <div class="nik-❤️-wikipedia">Nik <span class="❤️">❤️</span> Wikipedia</div>
                    <h1 class="izenburua">Azalpen teknikoak</h1>
                    <div>Wikidosiak <a target="_blank" href="https://nodejs.org">Node.js</a> eta <a target="_blank" href="http://expressjs.com">Express</a> web framework-a ditu oinarrian. Iturburu-kodea JavaScript programazio lengoaian idatzita dago.</div>
                    <h1 class="izenburua">Lizentzia</h1>
                    <div>Wikidosia bota eta webgune hau <a target="_blank" href="http://www.gnu.org/licenses/gpl.html">GNU General Public License v3</a> lizentzia duten software librea dira. Iturburu kodea <a target="_blank" href="https://github.com/aldatsa/wikidosia">github</a>en eskuragarri dago.</div>
                    <div id="gpl-logoa-div">
                        <img id="gpl-logoa" src="img/GPLv3_Logo.svg.png">
                    </div>
                </div>
                <div class="col-md-4 denbora-lerroa">
                    <a target="_blank" class="twitter-timeline"  href="https://twitter.com/wikidosia" data-widget-id="668189343664775170">@wikidosia(r)en Txioak</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </div>
            <%- include ../partials/oina.ejs %>
        </section>
    </body>
</html>
