<!doctype html>
<html lang="eu">
    <head>
        <meta charset="utf-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge,chrome=1">
        <title>Wikidosia - Eguneko rankina</title>
        <link type="text/css" rel="stylesheet" href="/css/bootstrap.min.css">
        <link type="text/css" rel="stylesheet" href="/css/itxura.css">
    </head>
    <body>
        <section class='container'>
            <hgroup>
                <h1>Artikulu irakurrienak: <%= data %></h1>
            </hgroup>

            <div class="row">
                <table class="table">
                    <% for (var i = 0; i < artikuluak.length; i++) { %>
                        <tr>
                            <td><%= i + 1 %>
                            <td><%= artikuluak[i].article %></td>
                            <td><%= artikuluak[i].views %></td>
                        </tr>
                    <% } %>
                </table>
            </div>

            <footer>
                <div class="logo"><a href="https://www.openshift.com/"></a></div>
            </footer>
        </section>
    </body>
</html>
