<!doctype html>
<html lang="eu">
    <%- include ../partials/head.ejs %>
    <body>
        <section class='container'>
            <%- include ../partials/goiburua.ejs %>
        </section>
    </body>
</html>
