<!doctype html>
<html lang="eu">
    <%- include ../partials/head.ejs %>
    <body>
        <section class='container'>
            <%- include ../partials/goiburua.ejs %>
            <div class="row azalpena">
                <div class="col-md-8">
                    <h1 class="izenburua">Zer da wikidosia?</h1>
                    <div>Wikidosia <a href="https://twitter.com/aldatsa">aldatsa</a>k sortutako txiobota da. Ondorengo funtzionalitatea dauka:</div>
                    <ul>
                        <li>Euskarazko Wikipediatik ausaz hautatutako txioak txiokatzen ditu egunean bitan (9:00 eta 21:00)</li>
                        <li>Aurreko eguneko euskarazko Wikipediako artikulurik irakurrienak txiokatzen ditu egunero</li>
                    </ul>
                    <div>Egun jakin bateko euskarazko Wikipediako artikulurik irakurrienen zerrenda <a href="irakurrienak">hemen</a> ikus dezakezu.</div>
                    <h1 class="izenburua">Lizentzia</h1>
                    <div>Wikidosia txiobota eta webgune hau <a href="http://www.gnu.org/licenses/gpl.html">GNU General Public License v3</a> lizentzia duten software librea dira. Iturburu kodea <a href="https://github.com/aldatsa/wikidosia">github</a>en eskuragarri dago.</div>
                    <div id="gpl-logoa-div">
                        <img id="gpl-logoa" src="img/GPLv3_Logo.svg.png">
                    </div>
                </div>
                <div class="col-md-4 denbora-lerroa">
                    <a class="twitter-timeline"  href="https://twitter.com/wikidosia" data-widget-id="668189343664775170">@wikidosia(r)en Txioak</a>
                    <script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0],p=/^http:/.test(d.location)?'http':'https';if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src=p+"://platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
                </div>
            </div>
            <%- include ../partials/oina.ejs %>
        </section>
    </body>
</html>
