<!doctype html>
<html lang="eu">
    <%- include ../partials/head.ejs %>
    <body>
        <section class='container'>
            <%- include ../partials/goiburua.ejs %>
            <div class="row azalpena">
                Konparazioak
            </div>
            <%- include ../partials/oina.ejs %>
        </section>
    </body>
</html>    
