<hgroup>
    <div class="goiburua">
        <a target="_blank" href="https://eu.wikipedia.org/wiki/Azala"><img class="wikilogoa" src="img/wikilogoa.png"></a>
        <div class="mantxeta">
            <div class="wikidosia">wikidosia</div>
            <div class="wikidosia-esaldia">Txiobot euskaldun, zintzo eta librea <a target="_blank" class="wikidosia-esteka" href="https://twitter.com/wikidosia">https://twitter.com/wikidosia</a></div>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <!-- Brand and toggle get grouped for better mobile display -->
                    <div class="navbar-header">
                      <button type="button" class="navbar-toggle collapsed" data-toggle="collapse" data-target="#bs-example-navbar-collapse-1" aria-expanded="false">
                        <span class="sr-only">Txandakatu nabigazioa</span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                        <span class="icon-bar"></span>
                      </button>
                    </div>

                    <!-- Collect the nav links, forms, and other content for toggling -->
                    <div class="collapse navbar-collapse">
                        <ul class="nav navbar-nav">
                            <li<% if (bista === "hasiera") { %> class="active"<% } %>><a href="/">Hasiera <span class="sr-only">(unekoa)</span></a></li>
                            <li<% if (bista === "irakurrienak") { %> class="active"<% } %>><a href="irakurrienak">Irakurrienak</a></li>
                        </ul>
                    </div><!-- /.navbar-collapse -->
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </div>
</hgroup>
