<hgroup>
    <div class="goiburua">
        <img class="wikilogoa" src="img/wikilogoa.png">
        <div class="mantxeta">
            <div class="wikidosia">wikidosia</div>
            <div class="wikidosia-esaldia">Txiobot euskaldun, zintzo eta librea <a class="wikidosia-esteka" href="https://twitter.com/wikidosia">https://twitter.com/wikidosia</a></div>
        </div>
    </div>
</hgroup>
