<hgroup>
    <div class="goiburua">
        <a target="_blank" href="https://eu.wikipedia.org/wiki/Azala"><img class="wikilogoa" src="img/wikilogoa.png"></a>
        <div class="mantxeta">
            <div class="wikidosia">wikidosia</div>
            <div class="wikidosia-esaldia">Txiobot euskaldun, zintzo eta librea <a target="_blank" class="wikidosia-esteka" href="https://twitter.com/wikidosia">https://twitter.com/wikidosia</a></div>
            <nav class="navbar navbar-default">
                <div class="container-fluid">
                    <ul class="nav navbar-nav">
                        <li<% if (bista === "hasiera") { %> class="active"<% } %>><a href="/">Hasiera <span class="sr-only">(unekoa)</span></a></li>
                        <li<% if (bista === "irakurrienak") { %> class="active"<% } %>><a href="irakurrienak">Irakurrienak</a></li>
                        <li<% if (bista === "joerak") { %> class="active"<% } %>><a href="joerak">Joerak</a></li>
                    </ul>
                </div><!-- /.container-fluid -->
            </nav>
        </div>
    </div>
</hgroup>
